In [1]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\jared\anaconda3\envs\pythondata\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [7]:
red_wine = pd.read_csv("Data/red_wine_0to400_anyrating.csv")

In [8]:
sparkling_wine = pd.read_csv("Data/sparkling_wine_0to400_anyrating.csv")

In [9]:
white_wine = pd.read_csv("Data/white_wine_0to400_anyrating.csv")

In [10]:
red_wine

,Unnamed: 0,Name,Rating,Price,NumberOfRatings,Country,Winery
0,0,Cobos Marchiori Vineyard Malbec 2015,4.8,$223.99,669 ratings,Argentina,Viña Cobos
1,1,Adrianna Vineyard River Stones Malbec 2015,4.8,$173.99,190 ratings,Argentina,Catena Zapata
2,2,Darius II Cabernet Sauvignon 2016,4.8,$324.99,104 ratings,United States,Darioush
3,3,Saint-Émilion Grand Cru 2014,4.8,$183.99,98 ratings,France,Château Tertre Roteboeuf
4,4,Fortis Cabernet Sauvignon 2014,4.8,$299.99,91 ratings,United States,Pine Ridge
...,...,...,...,...,...,...,...
1961,1961,Tinto 2015,4.3,$48.99,2844 ratings,Spain,Aalto
1962,1962,Cabernet Sauvignon N.V.,4.3,$94.47,2838 ratings,United States,Corison
1963,1963,Amarone della Valpolicella Classico 2015,4.3,$64.99,2838 ratings,Italy,Tommasi
1964,1964,Alexander Valley Cabernet Sauvignon 2010,4.3,$69,2824 ratings,United States,Silver Oak
1965,1965,Brunello di Montalcino Montosoli N.V.,4.3,$87.99,3908 ratings,Italy,Altesino

In [13]:
red_wine.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [15]:
red_wine['Price'] = red_wine['Price'].str.replace('$','')

In [17]:
red_wine['NumberOfRatings'] = red_wine['NumberOfRatings'].str.replace('ratings','')

In [18]:
red_wine

,Name,Rating,Price,NumberOfRatings,Country,Winery
0,Cobos Marchiori Vineyard Malbec 2015,4.8,223.99,669,Argentina,Viña Cobos
1,Adrianna Vineyard River Stones Malbec 2015,4.8,173.99,190,Argentina,Catena Zapata
2,Darius II Cabernet Sauvignon 2016,4.8,324.99,104,United States,Darioush
3,Saint-Émilion Grand Cru 2014,4.8,183.99,98,France,Château Tertre Roteboeuf
4,Fortis Cabernet Sauvignon 2014,4.8,299.99,91,United States,Pine Ridge
...,...,...,...,...,...,...
1961,Tinto 2015,4.3,48.99,2844,Spain,Aalto
1962,Cabernet Sauvignon N.V.,4.3,94.47,2838,United States,Corison
1963,Amarone della Valpolicella Classico 2015,4.3,64.99,2838,Italy,Tommasi
1964,Alexander Valley Cabernet Sauvignon 2010,4.3,69,2824,United States,Silver Oak
1965,Brunello di Montalcino Montosoli N.V.,4.3,87.99,3908,Italy,Altesino

In [26]:
red_wine['Vintage'] = red_wine['Name'].str.split().str[-1]

In [44]:
red_wine['Name'] = red_wine.Name.str.rsplit(' ',1).str[0]

In [45]:
red_wine

,Name,Rating,Price,NumberOfRatings,Country,Winery,Vintage
0,Cobos Marchiori Vineyard Malbec,4.8,223.99,669,Argentina,Viña Cobos,2015
1,Adrianna Vineyard River Stones Malbec,4.8,173.99,190,Argentina,Catena Zapata,2015
2,Darius II Cabernet Sauvignon,4.8,324.99,104,United States,Darioush,2016
3,Saint-Émilion Grand Cru,4.8,183.99,98,France,Château Tertre Roteboeuf,2014
4,Fortis Cabernet Sauvignon,4.8,299.99,91,United States,Pine Ridge,2014
...,...,...,...,...,...,...,...
1961,Tinto,4.3,48.99,2844,Spain,Aalto,2015
1962,Cabernet Sauvignon,4.3,94.47,2838,United States,Corison,N.V.
1963,Amarone della Valpolicella Classico,4.3,64.99,2838,Italy,Tommasi,2015
1964,Alexander Valley Cabernet Sauvignon,4.3,69,2824,United States,Silver Oak,2010
1965,Brunello di Montalcino Montosoli,4.3,87.99,3908,Italy,Altesino,N.V.

In [47]:
red_wine = red_wine.dropna(how = 'all')

In [48]:
red_wine

,Name,Rating,Price,NumberOfRatings,Country,Winery,Vintage
0,Cobos Marchiori Vineyard Malbec,4.8,223.99,669,Argentina,Viña Cobos,2015
1,Adrianna Vineyard River Stones Malbec,4.8,173.99,190,Argentina,Catena Zapata,2015
2,Darius II Cabernet Sauvignon,4.8,324.99,104,United States,Darioush,2016
3,Saint-Émilion Grand Cru,4.8,183.99,98,France,Château Tertre Roteboeuf,2014
4,Fortis Cabernet Sauvignon,4.8,299.99,91,United States,Pine Ridge,2014
...,...,...,...,...,...,...,...
1961,Tinto,4.3,48.99,2844,Spain,Aalto,2015
1962,Cabernet Sauvignon,4.3,94.47,2838,United States,Corison,N.V.
1963,Amarone della Valpolicella Classico,4.3,64.99,2838,Italy,Tommasi,2015
1964,Alexander Valley Cabernet Sauvignon,4.3,69,2824,United States,Silver Oak,2010
1965,Brunello di Montalcino Montosoli,4.3,87.99,3908,Italy,Altesino,N.V.

In [70]:
red_wine.drop(red_wine[red_wine.Price.str.contains(r'[ratings]')].index, inplace = True)

C:\Users\Jared\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [72]:
red_wine.to_csv('Data/clean_red.csv', index=False)

In [73]:
white_wine

,Unnamed: 0,Name,Rating,Price,NumberOfRatings,Country,Winery
0,0,Marcassin Vineyard Chardonnay 2013,4.8,$349.99,28 ratings,United States,Marcassin
1,1,Chardonnay Larry Hyde & Sons 2017,4.8,$199.99,26 ratings,United States,Aubert
2,2,Deux Grenouilles 2016,4.7,$199.97,49 ratings,United States,Sine Qua Non
3,3,Chardonnay Lauren 2012,4.7,$209.97,42 ratings,United States,Aubert
4,4,Corton-Charlemagne Grand Cru Blanc 2015,4.7,$180.99,25 ratings,France,Comte Senard
...,...,...,...,...,...,...,...
1961,1961,Estates Flume Crossing Sauvignon Blanc 2018,4.0,$13.99,42 ratings,United States,J. Lohr
1962,1962,Autrement Blanc 2016,4.0,$27.99,41 ratings,France,Curtet
1963,1963,Sauvignon Blanc 2018,4.0,$13.99,41 ratings,New Zealand,Pikorua
1964,1964,Pinot Gris 2017,4.0,$17.99,41 ratings,United States,Sokol Blosser
1965,1965,Friulano 2018,4.0,$26.99,44 ratings,Italy,Venica & Venica

In [74]:
white_wine.drop(['Unnamed: 0'], axis = 1, inplace = True)
white_wine['Price'] = white_wine['Price'].str.replace('$','')
white_wine['NumberOfRatings'] = white_wine['NumberOfRatings'].str.replace('ratings','')
white_wine['Vintage'] = white_wine['Name'].str.split().str[-1]
white_wine['Name'] = white_wine.Name.str.rsplit(' ',1).str[0]
white_wine = white_wine.dropna(how = 'all')
white_wine.drop(white_wine[white_wine.Price.str.contains(r'[ratings]')].index, inplace = True)

C:\Users\Jared\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [75]:
white_wine

,Name,Rating,Price,NumberOfRatings,Country,Winery,Vintage
0,Marcassin Vineyard Chardonnay,4.8,349.99,28,United States,Marcassin,2013
1,Chardonnay Larry Hyde & Sons,4.8,199.99,26,United States,Aubert,2017
2,Deux Grenouilles,4.7,199.97,49,United States,Sine Qua Non,2016
3,Chardonnay Lauren,4.7,209.97,42,United States,Aubert,2012
4,Corton-Charlemagne Grand Cru Blanc,4.7,180.99,25,France,Comte Senard,2015
...,...,...,...,...,...,...,...
1961,Estates Flume Crossing Sauvignon Blanc,4.0,13.99,42,United States,J. Lohr,2018
1962,Autrement Blanc,4.0,27.99,41,France,Curtet,2016
1963,Sauvignon Blanc,4.0,13.99,41,New Zealand,Pikorua,2018
1964,Pinot Gris,4.0,17.99,41,United States,Sokol Blosser,2017
1965,Friulano,4.0,26.99,44,Italy,Venica & Venica,2018

In [76]:
sparkling_wine.drop(['Unnamed: 0'], axis = 1, inplace = True)
sparkling_wine['Price'] = sparkling_wine['Price'].str.replace('$','')
sparkling_wine['NumberOfRatings'] = sparkling_wine['NumberOfRatings'].str.replace('ratings','')
sparkling_wine['Vintage'] = sparkling_wine['Name'].str.split().str[-1]
sparkling_wine['Name'] = sparkling_wine.Name.str.rsplit(' ',1).str[0]
sparkling_wine = sparkling_wine.dropna(how = 'all')
sparkling_wine.drop(sparkling_wine[sparkling_wine.Price.str.contains(r'[ratings]')].index, inplace = True)

C:\Users\Jared\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [77]:
sparkling_wine

,Name,Rating,Price,NumberOfRatings,Country,Winery,Vintage
0,P2 Plénitude Brut Champagne,4.7,349.99,341,France,Dom Pérignon,2002
1,La Grande Dame Brut Rosé Champagne,4.7,299.99,171,France,Veuve Clicquot,1998
2,Cristal Brut Champagne (Millésimé),4.6,299.99,2265,France,Louis Roederer,2005
3,Cristal Brut Champagne (Millésimé),4.6,249.99,24629,France,Louis Roederer,N.V.
4,Grande Cuvée Brut Champagne,4.6,179.99,14613,France,Krug,N.V.
...,...,...,...,...,...,...,...
1864,American Spumante,3.0,5.99,199,United States,J. Roget,N.V.
1865,Cava Brut,2.9,24.99,28,Spain,Elvi,N.V.
1866,Extra Dry (California Champagne),2.8,6.95,393,United States,Cook's,N.V.
1867,American Champagne Brut,2.7,4.99,884,United States,J. Roget,N.V.
1868,American Champagne Extra Dry,2.4,4.99,121,United States,J. Roget,N.V.

In [78]:
white_wine.to_csv('Data/clean_white.csv', index=False)
sparkling_wine.to_csv('Data/clean_sparkling.csv', index=False)